[Desktop Entry]
Name=User Manuals
Comment=Learn how to use AcreetionOS Lite applications and their private sector alternatives
Exec=/usr/bin/acreetion-manuals
Icon=help-browser
Terminal=false
Type=Application
Categories=System;Documentation;
